aiogram==3.4.1
gdown
pytube
pydub
faster-whisper
translate
gTTS
TTS
transformers==4.33
deepspeed
moviepy
deep-translator
ffmpeg
spleeter
pypinyin
audio_effects
git+https://github.com/jianfch/stable-ts.git
certifi